{{!< default}}
{{#author}}
<div class="archive-section">
	<div class="archive-wrap{{#if cover_image}} is-cover{{/if}}">
		<div class="archive-container">
			{{#if profile_image}}
			<div class="archive-image global-image">
				{{>images/author_profile_img}}
			</div>
			{{/if}}
			<div class="archive-title">
				<div>
					<h1 class="global-title">{{name}}</h1>
					<div class="archive-location">
						{{#if location}}
						<span>{{t "from"}} {{location}}</span>
						{{/if}}
					</div>
					{{#if bio}}
					<p class="archive-description">{{bio}}</p>
					{{/if}}
				</div>
			</div>
			<div class="archive-meta">
				<div class="archive-counter">
					<span>{{../pagination.total}}</span>
				</div>
				{{#has any="website,twitter,facebook,linkedin,bluesky,threads,mastodon,tiktok,youtube,instagram"}}
				<div class="archive-icons">
					{{#if website}}
					<a href="{{website}}" target="_blank" rel="noopener" aria-label="link Website">{{>icons/site/link}}</a>
					{{/if}}
					{{#if twitter}}
					<a href="{{social_url type="twitter"}}" target="_blank" rel="noopener" aria-label="link X">{{>icons/social/x}}</a>
					{{/if}}
					{{#if facebook}}
					<a href="{{social_url type="facebook"}}" target="_blank" rel="noopener" aria-label="link Facebook">{{>icons/social/facebook}}</a>
					{{/if}}
					{{#if linkedin}}
					<a href="{{social_url type="linkedin"}}" target="_blank" rel="noopener" aria-label="link LinkedIn">{{>icons/social/linkedin}}</a>
					{{/if}}
					{{#if bluesky}}
					<a href="{{social_url type="bluesky"}}" target="_blank" rel="noopener" aria-label="link Bluesky">{{>icons/social/bluesky}}</a>
					{{/if}}
					{{#if threads}}
					<a href="{{social_url type="threads"}}" target="_blank" rel="noopener" aria-label="link Threads">{{>icons/social/threads}}</a>
					{{/if}}
					{{#if mastodon}}
					<a href="{{social_url type="mastodon"}}" target="_blank" rel="noopener" aria-label="link Mastodon">{{>icons/social/mastodon}}</a>
					{{/if}}
					{{#if tiktok}}
					<a href="{{social_url type="tiktok"}}" target="_blank" rel="noopener" aria-label="link TikTok">{{>icons/social/tiktok}}</a>
					{{/if}}
					{{#if youtube}}
					<a href="{{social_url type="youtube"}}" target="_blank" rel="noopener" aria-label="link YouTube">{{>icons/social/youtube}}</a>
					{{/if}}
					{{#if instagram}}
					<a href="{{social_url type="instagram"}}" target="_blank" rel="noopener" aria-label="link Instagram">{{>icons/social/instagram}}</a>
					{{/if}}
				</div>
				{{/has}}
			</div>
		</div>
	</div>
	{{#if cover_image}}
	<div class="archive-cover global-image">
		{{>images/author_cover_img}}
	</div>
	{{/if}}
</div>
{{/author}}
{{>loop}}
{{pagination}}