<!DOCTYPE html>
<html lang="{{@site.locale}}"{{#match @custom.color_scheme "Dark"}} class="dark-mode"{{/match}}{{#match @custom.color_scheme "Auto"}} class="auto-dark-mode"{{/match}}>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>{{meta_title page=(t "meta-page")}}</title>
		<meta name="HandheldFriendly" content="True">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{{>services/google_fonts}}
		<link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}">
		<link rel="stylesheet" type="text/css" href="{{asset "css/custom.css"}}">
		<link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
		{{ghost_head}}
	</head>
	<body class="{{body_class}}{{#if @custom.navigation_on_the_right_side}} global-nav-right{{/if}}{{#if @custom.standard_load_more_button}} global-load-more{{/if}}">
		<div class="global-wrap">
			<div class="global-content">
				{{>header}}
				<main class="global-main">
					{{{body}}}
					{{>members/subscribe_form}}
					{{>widgets}}
				</main>
				<div id="back-to-top" class="global-top-button">
					{{>icons/site/arrow_top}}
				</div>
				{{>footer}}
			</div>
		</div>
		{{>members/notifications}}
		{{>search}}
		<script src="{{asset "js/global.js"}}"></script>
		{{#if pagination.pages}}
		<script src="{{asset "js/index.js"}}"></script>
		{{/if}}
		{{#is "post, page"}}
		<script src="{{asset "js/post.js"}}"></script>
		<script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
		<script src="{{asset "js/route-stats.js"}}"></script>
		{{/is}}
		{{{block "notifications_js"}}}
		{{{block "search_js"}}}
		{{{block "membership_js"}}}
		{{ghost_foot}}
	</body>
</html>